:root {
  --accent1: #ff008c;
  --accent2: #d309e2;
  --dark: #252924;
}

p {
  margin: 0;
  line-height: 1.4em;
}
h1 {
  margin: 0;
  text-align: center;
}

.text-dark {
  color: var(--dark);
}
.text-accent1 {
  color: var(--accent1);
}
.text-accent2 {
  color: var(--accent2);
}
.bg-dark {
  background: var(--dark);
}
.bg-accent1 {
  background: var(--accent1);
}
.bg-accent2 {
  background: var(--accent2);
}

.flex {
  display: flex;
}
.flex-item {
  flex-grow: 1;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  align-items: stretch;
}
.code-box-wrapper {
  width: 100%;
}

.sideways-text-box {
  width: auto;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  border-radius: 5px;
}
.bottom-text {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
}